* {
    margin: 0;
    padding 0;
}

body {
    background-color: black;
    font-family: 'Droid Sans', sans-serif;
    font-size: 100%;
    margin: 0 auto;
    width: auto;
}

.fotorama{
margin: 0 auto;
    padding-top: 20px;
}

.photos {
    margin: 0 auto;
    display: grid;
    padding: 10px;
    padding-bottom: 150px;
}

.backHome {
    color: black;
    text-decoration: none;
}

main {
    width: 600px;
    float: right;
    min-height: 50px;
    height: 900px;
}

header {
    background-color: white;
}

nav {
    text-align: center;
    border-color: black;
    border: 1px;
    min-height: 200px;
    min-height: 5px;
    padding-right: 30px;
    min-width: 500;
}

ul {}

li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
}


/*
LINK PROCESS MUST BE IN THIS ORDER!
*/

.nav-links:link {
    color: black;
    text-decoration: none;
}

.nav-links:hover {
    background-color: white;
    text-decoration: none;
}

.nav-links:visited {
    color: black;
    text-decoration: none;
}

article {
    text-align: center;
}

section {}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: black;
    clear: both;
    display: inline-flex;
}

h1 {
    background-image: url("../img/line1.jpg");
    background-size: 100%, 100%;
    text-align: center;
    color: black;
    font-style: normal;
    font-size: 3.5em;
    padding-bottom: 30px;
    padding-top: 25px;
    min-height: 50px;
}

h2 {
    text-align: center;
    color: black;
    background-color: black;
    font-style: normal;
    font-size: 1.5em;
    padding-bottom: 15px;
    padding-top: 20px;
}

h3 {
    background-color: #FFEFD5;
    font-style: normal;
    font-size: 1.15em;
    padding-bottom: 10px;
    padding-top: 20px;
}


}
a {
    color: white;
}
p {
    color: white;
    font-size: 15px;
}
img {
    display: grid;
    padding-bottom: 200px;
    margin: 0 auto;
    padding: 100px;
}

.logo{
   display: flex;
}





