* {
    margin: 0;
    padding 0;
}

body {
    background-color: black;
    font-family: 'Droid Sans', sans-serif;
    font-size: 100%;
    margin: 0 auto;
    width: auto;
   cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}

.fotorama{
margin: 0 auto;
    padding-top: 20px;
}

.photos {
    margin: 0 auto;
    display: grid;
    padding: 10px;
    padding-bottom: 150px;
}

.backHome {
    color: black;
    text-decoration: none;
}

main {
    width: 600px;
    float: right;
    min-height: 50px;
    height: 900px;
}

button{
background-color: black;
   align-content: center;
    display: block;
    margin: 0 auto;
}

header {
    background-color: white;
     cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}

nav {
    text-align: center;
    border-color: black;
    border: 1px;
    min-height: 200px;
    min-height: 5px;
    padding-right: 30px;
    min-width: 500;
}

ul {}

li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
}


/*
LINK PROCESS MUST BE IN THIS ORDER!
*/

.nav-links:link {
    color: black;
    text-decoration: none;
}

.nav-links:hover {
    background-color: white;
    text-decoration: none;
}

.nav-links:visited {
    color: black;
    text-decoration: none;
}

article {
    text-align: center;
}

section {}

footer {
    color: white;
    text-align: center;
    background-color: black;
    clear: both;
 cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}

footer img{
display: inline-flex;
    width: 50px;
    height: 50px;
}
h1 {
    background-image: url("../img/line1.jpg");
    background-size: 100%, 100%;
    text-align: center;
    color: black;
    font-style: normal;
    font-size: 3.5em;
    padding-bottom: 30px;
    padding-top: 25px;
    min-height: 50px;
}

h2 {
    text-align: center;
    color: black;
    background-color: black;
    font-style: normal;
    font-size: 1.5em;
    padding-bottom: 15px;
    padding-top: 20px;
}

h3 {
    background-color: #FFEFD5;
    font-style: normal;
    font-size: 1.15em;
    padding-bottom: 10px;
    padding-top: 20px;
}


}
a {
    color: white;
}
p {
    color: white;
    font-size: 15px;
     cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}
img {
    align-content: center;
    display: block;
    margin: 0 auto;
 cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}

/* smartphone and tablet: */
@media only screen and (min-width: 30em) and (max-width: 59em){}
    
    body{
        width: 100%;
    }   

main{
display: block;
     cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: gainsboro;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: 0;
    padding: 20px;
    width: 400px;
}

label{
    color:black;
}

.p{
    text-align: center;
}

div {
  transition: background-color 0.5s ease;
  background-color: #e0d3a3
}
div:hover {
  background-color:bisque;
}